body{padding-top: 55px;font-family: Arial,"微软雅黑";}
#logofont{font-size: 40px;}
.navbar-brand img{height: 50px;margin-top: -15px;}
.footer{background-color: #333333;color: white;padding-top: 20px;}
.footer dt{font-size: 24px;padding-bottom: 10px;}
.footer dd{padding-left: 30px;}
.footer hr,p{padding:0px;margin:0px;}
.footer p{font-size: 10px;color:gray;}
.well{background-color: transparent;}
.newsdate{font-size: 13px;}
.media img{width: 100px;}
.panel-title a{color:red;font-size:10px;float:right;font-weight: bold;font-style: oblique;}
/*产品页样式表*/
.prolist a:link{color: black;}
.prolist a:visited{color: black;}
.panel{margin-bottom: 10px;}
.panel-heading{padding: 2px 0px 2px 2px;}
.list-group-item{padding: 2px 5px 2px 5px;}
